Repository hackforla/lucky-parking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc.yaml:

"*.{css,js,json,jsx,md,ts,tsx,yaml}":
  - prettier --write --ignore-unknown
"*.{js,jsx,ts,tsx}":
  - eslint

Fixed lint prop-types warnings; moved comments
  packages/ui/src/components/loader/loader.tsx
Due: prettier --write --ignore-unknown, eslint

Fixed syntax
  packages/website/src/entities/branding/ui/logo.test.tsx
Due: prettier --write --ignore-unknown, eslint

Changed reloadDocument to true
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint

Added link to home page to Logo
  packages/website/src/entities/branding/ui/logo.test.tsx
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint

Replaced getByTestId with getByAltText
  packages/website/src/entities/branding/ui/logo.test.tsx
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint

Fixed lint prop-types warnings; moved comments (#649)
  packages/ui/src/components/loader/loader.tsx
Due: prettier --write --ignore-unknown, eslint

Build Bar Graph Component (#632)
  package.json
  packages/ui/src/components/graph/HorizontalBarGraph.tsx
  packages/ui/src/components/graph/data/payload.ts
  packages/ui/src/components/graph/graph.stories.tsx
  packages/ui/src/components/graph/index.tsx
  packages/ui/src/components/graph/lib/constants.ts
  packages/ui/src/components/graph/lib/index.ts
  packages/ui/src/components/graph/utils/format-citations.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Update logo.tsx
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint

[Feature] Implement Client Routing (#631)
  packages/ui/src/components/date-input/date-input.test.tsx
  packages/ui/src/components/date-input/date-input.tsx
  packages/website/src/entities/branding/ui/logo.tsx
  packages/website/src/features/citation/ui/citation-data-category-selection.tsx
  packages/website/src/features/citation/ui/citation-data-filter.test.tsx
  packages/website/src/features/citation/ui/citation-data-filter.tsx
  packages/website/src/features/citation/ui/citation-date-presets-selection.tsx
  packages/website/src/features/citation/ui/use-citation-search-params.ts
  packages/website/src/features/geocoder/ui/geocoder.tsx
  packages/website/src/widgets/citation/ui/explorer/citation-explorer.tsx
  packages/website/src/widgets/citation/ui/search/comparative-search.tsx
  packages/website/src/widgets/citation/ui/search/single-seach.tsx
  packages/website/src/widgets/citation/ui/visualization/comparative-search-visualization-focused.tsx
  packages/website/src/widgets/citation/ui/visualization/comparative-search-visualization.tsx
  packages/website/src/widgets/citation/ui/visualization/single-search-visualization.tsx
  packages/website/src/widgets/header/header.tsx
Due: prettier --write --ignore-unknown, eslint

Create compliance.yaml
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

Update compliance.yaml
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

tweak successful console.log()
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

replace if-else with try-catch at API call to verify issue number
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

edit to comment message
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

use array destructuring to assign keyword and issueNumber
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

remove blanklines at file end, add to comment ln 25
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

need ',' in array destructuring
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

Formatted with Prettier
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

replaced non-standard ellipsis line 34
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

ui: implementation of redesign date-range-picker
  packages/ui/src/components/calendar/option-data/months.ts
  packages/ui/src/components/date-picker/date-picker-calendar.tsx
  packages/ui/src/components/date-picker/date-picker-suggestions.tsx
  packages/ui/src/components/date-picker/date-picker.stories.tsx
  packages/ui/src/components/date-picker/date-picker.tsx
  packages/ui/src/components/date-picker/index.ts
  packages/ui/src/components/date-picker/utils/create-two-month-calendar.ts
Due: prettier --write --ignore-unknown, eslint

ui: add test to redesigned date-range-picker component
  packages/ui/src/components/date-picker/date-picker-calendar.test.tsx
  packages/ui/src/components/date-picker/date-picker-suggestions.test.tsx
  packages/ui/src/components/date-picker/date-picker.test.tsx
Due: prettier --write --ignore-unknown, eslint

Added linebreaks, reformatted as guard clause, minor edits to messaging
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

Create `compliance.yaml` workflow (#650)
  .github/workflows/compliance.yaml
Due: prettier --write --ignore-unknown

Create release.yaml
  .github/workflows/release.yaml
Due: prettier --write --ignore-unknown

test: fix date input test
  packages/ui/src/components/calendar/calendar.tsx
  packages/ui/src/components/date-input/date-input.test.tsx
Due: prettier --write --ignore-unknown, eslint

config: set ignore for eslint
  .eslintignore
Due: none

fix: update ci scripts to use package versions for dependencies
  package.json
Due: prettier --write --ignore-unknown

Fix CI/CD Pipeline Errors (#653)
  .eslintignore
  package.json
  packages/ui/src/components/calendar/calendar.tsx
  packages/ui/src/components/date-input/date-input.test.tsx
Due: prettier --write --ignore-unknown, eslint

fix ui: adjust calendar to start on sunday
  packages/ui/src/components/date-picker/date-picker-calendar.tsx
  packages/ui/src/components/date-picker/utils/create-two-month-calendar.ts
Due: prettier --write --ignore-unknown, eslint

fix ui: center calendar titles
  packages/ui/src/components/date-picker/date-picker-calendar.tsx
Due: prettier --write --ignore-unknown, eslint

fix ui: adjust suggested relative dates
  packages/ui/src/components/date-picker/date-picker-suggestions.tsx
  packages/ui/src/components/date-picker/date-picker.tsx
Due: prettier --write --ignore-unknown, eslint

fix ui: rename suggestion radio test
  packages/ui/src/components/date-picker/date-picker-suggestions.test.tsx
Due: prettier --write --ignore-unknown, eslint

Feat-630 - Redesign of Date Range Picker (#651)
  packages/ui/src/components/calendar/option-data/months.ts
  packages/ui/src/components/date-picker/date-picker-calendar.test.tsx
  packages/ui/src/components/date-picker/date-picker-calendar.tsx
  packages/ui/src/components/date-picker/date-picker-suggestions.test.tsx
  packages/ui/src/components/date-picker/date-picker-suggestions.tsx
  packages/ui/src/components/date-picker/date-picker.stories.tsx
  packages/ui/src/components/date-picker/date-picker.test.tsx
  packages/ui/src/components/date-picker/date-picker.tsx
  packages/ui/src/components/date-picker/index.ts
  packages/ui/src/components/date-picker/utils/create-two-month-calendar.ts
Due: prettier --write --ignore-unknown, eslint

Create post-an-open-role.md
  .github/ISSUE_TEMPLATE/post-an-open-role.md
Due: prettier --write --ignore-unknown

Create post-an-open-role.md (#658)
  .github/ISSUE_TEMPLATE/post-an-open-role.md
Due: prettier --write --ignore-unknown
