Repository hackforla/lucky-parking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc.yaml:

"*.{css,js,json,jsx,md,ts,tsx,yaml}":
  - prettier --write --ignore-unknown
"*.{js,jsx,ts,tsx}":
  - eslint

chore(github): update team offboarding issue form
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/team-offboarding.yaml
Due: prettier --write --ignore-unknown

chore(github): update team onboarding issue form
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
  .github/ISSUE_TEMPLATE/team-onboarding.yaml
Due: prettier --write --ignore-unknown

[687] Update issue templates (#688)
  .github/ISSUE_TEMPLATE/defect-form.yaml
  .github/ISSUE_TEMPLATE/defect-report.yaml
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/feature-form.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/internal-epic-form.yaml
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
  .github/ISSUE_TEMPLATE/post-an-open-role.md
  .github/ISSUE_TEMPLATE/task.yaml
  .github/ISSUE_TEMPLATE/team-offboarding.yaml
  .github/ISSUE_TEMPLATE/team-onboarding.yaml
Due: prettier --write --ignore-unknown

fix(github): fix syntax errors in internal issue templates
  .github/ISSUE_TEMPLATE/internal-epic-form.yaml
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
Due: prettier --write --ignore-unknown

[687] Fix syntax errors in internal issue templates (#689)
  .github/ISSUE_TEMPLATE/internal-epic-form.yaml
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
Due: prettier --write --ignore-unknown

fix(github): fix invalid attributes in internal issue templates
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
Due: prettier --write --ignore-unknown

fix(github): remove unnecessary required keys
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
Due: prettier --write --ignore-unknown

fix(github): fix styles for multi-line strings
  .github/ISSUE_TEMPLATE/defect-form.yaml
  .github/ISSUE_TEMPLATE/internal-epic-form.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
  .github/ISSUE_TEMPLATE/task.yaml
Due: prettier --write --ignore-unknown

chore(github): simplify labels
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
Due: prettier --write --ignore-unknown

[687] Update issue templates (#690)
  .github/ISSUE_TEMPLATE/defect-form.yaml
  .github/ISSUE_TEMPLATE/internal-epic-form.yaml
  .github/ISSUE_TEMPLATE/internal-team-offboarding.yaml
  .github/ISSUE_TEMPLATE/internal-team-onboarding.yaml
  .github/ISSUE_TEMPLATE/task.yaml
Due: prettier --write --ignore-unknown

chore(ignore): create dockerignore
  .dockerignore
Due: none

chore(ignore): standardize gitignore
  .gitignore
Due: none

build(web): containerize
  apps/web/Dockerfile
Due: none

build(api): containerize
  apps/api/Dockerfile
Due: none

build(storybook): containerize
  apps/storybook/Dockerfile
Due: none

cicd: update package manager to pnpm 9
  .github/workflows/integration.yaml
Due: prettier --write --ignore-unknown

cicd: fix commands
  .github/workflows/integration.yaml
  configs/jest/package.json
  package.json
  packages/utilities/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

cicd: disable turborepo telemetry
  .github/workflows/compliance.yaml
  .github/workflows/integration.yaml
Due: prettier --write --ignore-unknown

[648] Containerize apps (#692)
  .dockerignore
  .github/workflows/compliance.yaml
  .github/workflows/integration.yaml
  apps/api/Dockerfile
  apps/storybook/Dockerfile
  apps/web/Dockerfile
  configs/jest/package.json
  package.json
  packages/utilities/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

refactor(configs): consolidate configs into single configs package
  .editorconfig
  .prettierignore
  apps/api/package.json
  apps/api/tsconfig.json
  configs/jest/package.json
  configs/jest/src/base.ts
  configs/jest/src/typescript.ts
  configs/jest/tsconfig.json
  configs/typescript/base.json
  configs/typescript/package.json
  configs/typescript/react.json
  packages/configs/eslint.config.mjs
  packages/configs/package.json
  packages/configs/prettier.config.ts
  packages/configs/src/eslint/eslint.config.mjs
  packages/configs/src/prettier/prettier.config.ts
  packages/configs/src/tailwind/postcss.config.js
  packages/configs/src/typescript/base.json
  packages/configs/src/typescript/next.json
  packages/configs/src/typescript/react-library.json
  packages/configs/src/typescript/vite.json
  packages/configs/tsconfig.json
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write --ignore-unknown, eslint

chore(storybook): delete obsolete app
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/Dockerfile
  apps/storybook/README.md
  apps/storybook/index.html
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/public/vite.svg
  apps/storybook/src/App.css
  apps/storybook/src/App.tsx
  apps/storybook/src/assets/react.svg
  apps/storybook/src/index.css
  apps/storybook/src/main.tsx
  apps/storybook/src/stories/button.stories.tsx
  apps/storybook/src/stories/calendar.stories.tsx
  apps/storybook/src/stories/colors.mdx
  apps/storybook/src/stories/date-input.stories.tsx
  apps/storybook/src/stories/date-picker.stories.tsx
  apps/storybook/src/stories/graph.stories.tsx
  apps/storybook/src/stories/input.stories.tsx
  apps/storybook/src/stories/modal.stories.tsx
  apps/storybook/src/stories/pick-list.stories.tsx
  apps/storybook/src/stories/radio-group.stories.tsx
  apps/storybook/src/stories/stepper.stories.tsx
  apps/storybook/src/stories/tag.stories.tsx
  apps/storybook/src/stories/typography.mdx
  apps/storybook/src/vite-env.d.ts
  apps/storybook/tailwind.config.ts
  apps/storybook/vite.config.ts
Due: prettier --write --ignore-unknown, eslint

chore(types): delete obsolete package
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
Due: prettier --write --ignore-unknown, eslint

chore(utilities): delete obsolete package
  packages/utilities/jest.config.ts
  packages/utilities/package.json
  packages/utilities/src/date.test.ts
  packages/utilities/src/date.ts
  packages/utilities/src/enum.test.ts
  packages/utilities/src/enum.ts
  packages/utilities/src/string.test.ts
  packages/utilities/src/string.ts
  packages/utilities/tsconfig.json
Due: prettier --write --ignore-unknown, eslint

cicd: set up pre-commit
  .gitignore
  .husky/pre-commit
  package.json
  scripts/typecheck.mjs
  tsconfig.json
Due: prettier --write --ignore-unknown

build(web): containerize app
  apps/web/Dockerfile
  apps/web/next.config.ts
  apps/web/package.json
  package.json
Due: prettier --write --ignore-unknown, eslint

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

docs: update readme with local development instructions
  README.md
Due: prettier --write --ignore-unknown

chore: upgrade to node@24
  .github/workflows/integration.yaml
  .npmrc
  package.json
Due: prettier --write --ignore-unknown

chore: sort tasks alphabetically
  turbo.json
Due: prettier --write --ignore-unknown

fix: restore format command to workspace
  package.json
  turbo.json
Due: prettier --write --ignore-unknown

fix: remove format commands from api app
  apps/api/package.json
Due: prettier --write --ignore-unknown

fix: remove config flag from projects to allow prettier config discovery
  apps/web/package.json
  packages/configs/package.json
  packages/design/package.json
Due: prettier --write --ignore-unknown

fix: use mjs for prettier config files
  apps/web/package.json
  apps/web/prettier.config.mjs
  package.json
  packages/configs/package.json
  packages/configs/prettier.config.mjs
  packages/configs/prettier.config.ts
  packages/configs/src/prettier/prettier.config.mjs
  packages/design/package.json
  packages/design/prettier.config.d.ts
  packages/design/prettier.config.d.ts.map
  packages/design/prettier.config.mjs
  packages/design/prettier.config.ts
Due: prettier --write --ignore-unknown, eslint

fix: fix typo
  .github/workflows/integration.yaml
Due: prettier --write --ignore-unknown

chore: format
  apps/web/index.html
  apps/web/public/manifest.json
Due: prettier --write --ignore-unknown

chore: update prettier dependencies
  packages/configs/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

Fix integration workflow (#714)
  .github/workflows/integration.yaml
  .npmrc
  apps/api/package.json
  apps/web/index.html
  apps/web/package.json
  apps/web/prettier.config.mjs
  apps/web/public/manifest.json
  package.json
  packages/configs/package.json
  packages/configs/prettier.config.mjs
  packages/configs/prettier.config.ts
  packages/configs/src/prettier/prettier.config.mjs
  packages/design/package.json
  packages/design/prettier.config.d.ts
  packages/design/prettier.config.d.ts.map
  packages/design/prettier.config.mjs
  packages/design/prettier.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --ignore-unknown, eslint
