Repository hackforla/lucky-parking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc.yaml:

"*.{css,js,json,jsx,md,ts,tsx,yaml}":
  - prettier --write --ignore-unknown
"*.{js,jsx,ts,tsx}":
  - eslint

Implement compare mode for citation explorer UI and enhance API functionality
  data-science/postgis_db/README.md
  data-science/postgis_db/web_sheet/app.py
  data-science/postgis_db/web_sheet/static/app.js
  data-science/postgis_db/web_sheet/static/style.css
  data-science/postgis_db/web_sheet/templates/index.html
Due: prettier --write --ignore-unknown, eslint

Update healthcheck command in docker-compose.yml to ensure compatibility with host bind-mounts
  data-science/postgis_db/docker-compose.yml
Due: none

Secure the contract API and explorer for shared deployment
  data-science/.gitignore
  data-science/postgis_db/.env.example
  data-science/postgis_db/Dockerfile
  data-science/postgis_db/Dockerfile.api
  data-science/postgis_db/api/main.py
  data-science/postgis_db/constraints.txt
  data-science/postgis_db/deploy/Caddyfile
  data-science/postgis_db/deploy/IONOS.md
  data-science/postgis_db/deploy/VPS.md
  data-science/postgis_db/docker-compose.prod.yml
  data-science/postgis_db/docker-compose.yml
  data-science/postgis_db/lucky_parking/errors.py
  data-science/postgis_db/lucky_parking/ratelimit.py
  data-science/postgis_db/lucky_parking/security.py
  data-science/postgis_db/lucky_parking/service.py
  data-science/postgis_db/pytest.ini
  data-science/postgis_db/scripts/ensure_env.ps1
  data-science/postgis_db/scripts/ensure_env.sh
  data-science/postgis_db/scripts/gen_secrets.ps1
  data-science/postgis_db/scripts/gen_secrets.sh
  data-science/postgis_db/scripts/load_boundaries.sh
  data-science/postgis_db/scripts/load_contract_citations.py
  data-science/postgis_db/scripts/preflight.cmd
  data-science/postgis_db/scripts/preflight.sh
  data-science/postgis_db/scripts/query_contract.py
  data-science/postgis_db/tests/conftest.py
  data-science/postgis_db/tests/test_security.py
  data-science/postgis_db/web_sheet/app.py
Due: prettier --write --ignore-unknown

Make postgis_db install cleanly on a fresh machine and on Windows
  data-science/postgis_db/.dockerignore
  data-science/postgis_db/.gitattributes
  data-science/postgis_db/README.md
  data-science/postgis_db/api/__init__.py
  data-science/postgis_db/init/03_load_citations.sh
  data-science/postgis_db/lucky_parking/__init__.py
  data-science/postgis_db/lucky_parking/models.py
  data-science/postgis_db/lucky_parking/regions.py
  data-science/postgis_db/scripts/check_raw_data.ps1
  data-science/postgis_db/scripts/db-status.ps1
  data-science/postgis_db/scripts/db-status.sh
  data-science/postgis_db/scripts/prod_restore.sh
  data-science/postgis_db/scripts/smoke_test.cmd
  data-science/postgis_db/scripts/smoke_test.ps1
  data-science/postgis_db/scripts/smoke_test.sh
  data-science/postgis_db/tests/test_api.py
  data-science/postgis_db/tests/test_models.py
  data-science/postgis_db/tests/test_service_integration.py
  data-science/postgis_db/web_sheet/static/vendor/leaflet/leaflet.css
Due: prettier --write --ignore-unknown

Add Leaflet library for interactive mapping
  data-science/postgis_db/web_sheet/static/vendor/leaflet/images/layers-2x.png
  data-science/postgis_db/web_sheet/static/vendor/leaflet/images/layers.png
  data-science/postgis_db/web_sheet/static/vendor/leaflet/images/marker-icon-2x.png
  data-science/postgis_db/web_sheet/static/vendor/leaflet/images/marker-icon.png
  data-science/postgis_db/web_sheet/static/vendor/leaflet/images/marker-shadow.png
  data-science/postgis_db/web_sheet/static/vendor/leaflet/leaflet.css
  data-science/postgis_db/web_sheet/static/vendor/leaflet/leaflet.js
Due: prettier --write --ignore-unknown, eslint

Update README.md to clarify data source for LA parking citations
  data-science/postgis_db/README.md
Due: prettier --write --ignore-unknown

Implement architecture documentation and add pipeline orchestration for parking citations
  data-science/beta_pipeline/ARCHITECTURE.md
  data-science/beta_pipeline/README.md
  data-science/beta_pipeline/docker-compose.yml
  data-science/beta_pipeline/parking_clean.py
  data-science/beta_pipeline/parking_db.py
  data-science/beta_pipeline/parking_db_explore.ipynb
  data-science/beta_pipeline/parking_pipeline.py
  data-science/beta_pipeline/parking_postgis.py
  data-science/beta_pipeline/requirements.txt
Due: prettier --write --ignore-unknown

Added early pipeline code
  data-science/beta_pipeline/README.md
  data-science/beta_pipeline/docker-compose.yml
  data-science/beta_pipeline/parking_db.py
  data-science/beta_pipeline/parking_db_explore.ipynb
  data-science/beta_pipeline/parking_postgis.py
  data-science/beta_pipeline/requirements.txt
Due: prettier --write --ignore-unknown

Add pipeline dependencies and violation analysis notebook
  .gitignore
  data-science/beta_pipeline/requirements.txt
  data-science/beta_pipeline/violation_analysis.ipynb
Due: none

Enhance parking data pipeline by adding drop_incomplete function
  data-science/beta_pipeline/parking_clean.py
  data-science/beta_pipeline/parking_pipeline.py
  data-science/beta_pipeline/parking_postgis.py
Due: none

Add architecture and contributor documentation
  docs/01-overview.md
  docs/02-monorepo-structure.md
  docs/03-web-application.md
  docs/04-backend-api.md
  docs/05-data-pipeline.md
  docs/06-legacy-data-science.md
  docs/07-data-sources-and-schemas.md
  docs/08-roadmap-and-open-questions.md
  docs/README.md
Due: prettier --write --ignore-unknown

Fix PostGIS image build failing with apt exit code 100
  data-science/postgis_db/Dockerfile
  data-science/postgis_db/README.md
Due: prettier --write --ignore-unknown

Add architecture and contributor documentation (#758)
  docs/01-overview.md
  docs/02-monorepo-structure.md
  docs/03-web-application.md
  docs/04-backend-api.md
  docs/05-data-pipeline.md
  docs/06-legacy-data-science.md
  docs/07-data-sources-and-schemas.md
  docs/08-roadmap-and-open-questions.md
  docs/README.md
Due: prettier --write --ignore-unknown

Add Polars ingestion pipeline for parking citations (#756)
  .gitignore
  data-science/beta_pipeline/ARCHITECTURE.md
  data-science/beta_pipeline/README.md
  data-science/beta_pipeline/docker-compose.yml
  data-science/beta_pipeline/parking_clean.py
  data-science/beta_pipeline/parking_db.py
  data-science/beta_pipeline/parking_db_explore.ipynb
  data-science/beta_pipeline/parking_pipeline.py
  data-science/beta_pipeline/parking_postgis.py
  data-science/beta_pipeline/requirements.txt
  data-science/beta_pipeline/violation_analysis.ipynb
Due: prettier --write --ignore-unknown

Update README and deployment documentation to reflect new project structure
  projects/data-science/.gitignore
  projects/data-science/postgis_db/README.md
  projects/data-science/postgis_db/deploy/VPS.md
  projects/data-science/postgis_db/scripts/smoke_test.cmd
  projects/data-science/postgis_db/scripts/test_socrata_sync.cmd
  projects/data-science/postgis_db/scripts/test_socrata_sync.py
  projects/data-science/postgis_db/tests/test_service_integration.py
  projects/data-science/postgis_db/web_sheet/app.py
  projects/data-science/postgis_db/web_sheet/templates/index.html
Due: prettier --write --ignore-unknown

Fix postgis_db paths after move and add Socrata sync probe (#762)
  projects/data-science/.gitignore
  projects/data-science/postgis_db/README.md
  projects/data-science/postgis_db/deploy/VPS.md
  projects/data-science/postgis_db/scripts/smoke_test.cmd
  projects/data-science/postgis_db/scripts/test_socrata_sync.cmd
  projects/data-science/postgis_db/scripts/test_socrata_sync.py
  projects/data-science/postgis_db/tests/test_service_integration.py
  projects/data-science/postgis_db/web_sheet/app.py
  projects/data-science/postgis_db/web_sheet/templates/index.html
Due: prettier --write --ignore-unknown

add data contract yaml
  data-science/data_contracts/data_contract.yaml
Due: prettier --write --ignore-unknown

add readme file
  data-science/data_contracts/README.md
Due: prettier --write --ignore-unknown

Add data contracts (#764)
  data-science/data_contracts/README.md
  data-science/data_contracts/data_contract.yaml
Due: prettier --write --ignore-unknown

Revert "Fix postgis_db paths after move and add Socrata sync probe (#762)"
  projects/data-science/.gitignore
  projects/data-science/postgis_db/README.md
  projects/data-science/postgis_db/deploy/VPS.md
  projects/data-science/postgis_db/scripts/smoke_test.cmd
  projects/data-science/postgis_db/scripts/test_socrata_sync.cmd
  projects/data-science/postgis_db/scripts/test_socrata_sync.py
  projects/data-science/postgis_db/tests/test_service_integration.py
  projects/data-science/postgis_db/web_sheet/app.py
  projects/data-science/postgis_db/web_sheet/templates/index.html
Due: prettier --write --ignore-unknown

Revert "Add data contracts (#764)"
  data-science/data_contracts/README.md
  data-science/data_contracts/data_contract.yaml
Due: prettier --write --ignore-unknown

Revert "Add data contracts" (#765)
  data-science/data_contracts/README.md
  data-science/data_contracts/data_contract.yaml
Due: prettier --write --ignore-unknown
