Repository hackforla/lucky-parking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc.yaml:

"*.{css,js,json,jsx,md,ts,tsx,yaml}":
  - prettier --write --ignore-unknown
"*.{js,jsx,ts,tsx}":
  - eslint

ci: update husky configuration
  .husky/pre-commit
Due: none

fix: resolve formatting problems
  .github/ISSUE_TEMPLATE/epic.yaml
  packages/ui/.storybook/main.ts
  packages/ui/src/components/calendar/utils/create-calendar.ts
  packages/ui/src/components/calendar/utils/is-equal.ts
  packages/ui/src/components/calendar/utils/is-this-month-and-next.ts
  packages/ui/src/components/containers/full-container/full-container.tsx
  packages/ui/src/components/modal/modal.stories.tsx
  packages/ui/src/components/modal/modal.test.tsx
  packages/ui/src/components/modal/modal.tsx
  packages/ui/src/components/pick-list/index.ts
Due: prettier --write --ignore-unknown, eslint

fix: resolve `@typescript-eslint/no-unused-vars` problems
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/radio-group/radio-group.test.tsx
  packages/ui/src/components/search-input/search-input.tsx
  packages/ui/src/components/stepper/stepper.stories.tsx
  packages/website/src/features/citation/ui/citation-data-category-selection.tsx
  packages/website/src/features/citation/ui/citation-date-presets-selection.tsx
  packages/website/src/features/map/ui/draw/map-draw-apply-button.tsx
  packages/website/src/main.tsx
  packages/website/src/widgets/citation/ui/search/comparative-search.tsx
  scripts/transform-svg.js
Due: prettier --write --ignore-unknown, eslint

fix: resolve `react/no-unescaped-entities` problems
  packages/ui/src/components/modal/modal.stories.tsx
  packages/ui/src/components/modal/modal.test.tsx
Due: prettier --write --ignore-unknown, eslint

ci: update eslint configuration
  .eslintrc.yaml
  .eslintrc.yml
Due: prettier --write --ignore-unknown

ci: update lint-staged configuration
  .lintstagedrc.yaml
  lint-staged.config.js
Due: prettier --write --ignore-unknown, eslint

ci: create integration workflow
  .github/workflows/integration.yaml
  .github/workflows/prepare.yaml
  package.json
Due: prettier --write --ignore-unknown

ci: update prettier configuration
  .prettierignore
  .prettierrc.yaml
  prettier.config.js
Due: prettier --write --ignore-unknown, eslint

ci: fix typo in integration workflow
  .github/workflows/integration.yaml
Due: prettier --write --ignore-unknown

ci: fix integration workflow calling reusable prepare workflow
  .github/workflows/integration.yaml
  .github/workflows/prepare.yaml
Due: prettier --write --ignore-unknown

ci: simplify integration workflow
  .github/workflows/integration.yaml
  .github/workflows/prepare.yaml
Due: prettier --write --ignore-unknown

ci: rename steps in integration workflow
  .github/workflows/integration.yaml
Due: prettier --write --ignore-unknown

chore: update vulnerable dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

Create useCitationSearchParams and implement for single search mode. Also correct date range logic.
  packages/ui/src/components/date-input/date-input.tsx
  packages/website/src/features/citation/ui/citation-data-filter.tsx
  packages/website/src/features/citation/ui/use-citation-search-params.ts
  packages/website/src/features/geocoder/ui/geocoder.tsx
  packages/website/src/widgets/citation/ui/explorer/citation-explorer.tsx
  packages/website/src/widgets/citation/ui/search/single-seach.tsx
  packages/website/src/widgets/citation/ui/visualization/single-search-visualization.tsx
Due: prettier --write --ignore-unknown, eslint

Use the useCitationSearchParams for comparative search mode.
  packages/website/src/features/citation/ui/use-citation-search-params.ts
  packages/website/src/widgets/citation/ui/explorer/citation-explorer.tsx
  packages/website/src/widgets/citation/ui/search/comparative-search.tsx
  packages/website/src/widgets/citation/ui/visualization/single-search-visualization.tsx
Due: prettier --write --ignore-unknown, eslint

Bar Data Structure
  packages/ui/src/components/graph/lib/constants.ts
  packages/ui/src/components/graph/lib/index.ts
Due: prettier --write --ignore-unknown, eslint

Add re-usability for horizontal bar graph component
  packages/ui/src/components/graph/HorizontalBarGraph.tsx
Due: prettier --write --ignore-unknown, eslint

Updated sample payload for rendering
  packages/ui/src/components/graph/data/payload.ts
Due: prettier --write --ignore-unknown, eslint

Updated formatCitations to be re-usable
  packages/ui/src/components/graph/utils/format-citations.ts
Due: prettier --write --ignore-unknown, eslint

Added option to change categories in storybook
  packages/ui/src/components/graph/graph.stories.tsx
Due: prettier --write --ignore-unknown, eslint

Complete implementation of useCitationSearchParams hook on comparative search mode and ensure that visualization mode works.
  packages/website/src/features/citation/ui/use-citation-search-params.ts
  packages/website/src/features/geocoder/ui/geocoder.tsx
  packages/website/src/widgets/citation/ui/explorer/citation-explorer.tsx
  packages/website/src/widgets/citation/ui/search/comparative-search.tsx
Due: prettier --write --ignore-unknown, eslint

Update header icon to clear search query params and reload page.
  packages/website/src/entities/branding/ui/logo.tsx
  packages/website/src/widgets/header/header.tsx
Due: prettier --write --ignore-unknown, eslint

Correct failing unit tests and remove unnecessary code encountered (such as console.log statements and unused imports).
  packages/ui/src/components/date-input/date-input.test.tsx
  packages/website/src/features/citation/ui/citation-data-filter.test.tsx
  packages/website/src/widgets/citation/ui/visualization/single-search-visualization.tsx
Due: prettier --write --ignore-unknown, eslint

Fix warning message on loader component that displays when running pnpm test. The 'stroke-width' property needs to be renamed to 'strokeWidth'.
  packages/ui/src/components/loader/loader.tsx
Due: prettier --write --ignore-unknown, eslint

Set and retreive search query parameter for citation category in comparative mode.
  packages/website/src/widgets/citation/ui/visualization/comparative-search-visualization.tsx
Due: prettier --write --ignore-unknown, eslint

Correct typescript type errors that are preventing successful build.
  packages/ui/src/components/date-input/date-input.tsx
  packages/website/src/features/citation/ui/citation-data-category-selection.tsx
  packages/website/src/features/citation/ui/citation-data-filter.test.tsx
  packages/website/src/features/citation/ui/citation-data-filter.tsx
  packages/website/src/features/citation/ui/citation-date-presets-selection.tsx
  packages/website/src/features/citation/ui/use-citation-search-params.ts
  packages/website/src/features/geocoder/ui/geocoder.tsx
  packages/website/src/widgets/citation/ui/visualization/comparative-search-visualization-focused.tsx
  packages/website/src/widgets/citation/ui/visualization/comparative-search-visualization.tsx
Due: prettier --write --ignore-unknown, eslint

Fix code style and formatting by using prettier.
  packages/website/src/widgets/citation/ui/explorer/citation-explorer.tsx
  packages/website/src/widgets/citation/ui/search/comparative-search.tsx
  packages/website/src/widgets/citation/ui/search/single-seach.tsx
Due: prettier --write --ignore-unknown, eslint

Rename variables and improve accessibility
  packages/ui/src/components/graph/HorizontalBarGraph.tsx
  packages/ui/src/components/graph/graph.stories.tsx
  packages/ui/src/components/graph/index.tsx
  packages/ui/src/components/graph/utils/format-citations.ts
Due: prettier --write --ignore-unknown, eslint

Added link to home page to Logo
  packages/website/src/entities/branding/ui/logo.test.tsx
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint

Fixed syntax
  packages/website/src/entities/branding/ui/logo.test.tsx
Due: prettier --write --ignore-unknown, eslint

Changed reloadDocument to true
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint

Replaced getByTestId with getByAltText
  packages/website/src/entities/branding/ui/logo.test.tsx
  packages/website/src/entities/branding/ui/logo.tsx
Due: prettier --write --ignore-unknown, eslint
