Repository hackforla/lucky-parking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

Update README.md
  README.md
Due: prettier --write --ignore-unknown

Update README.md (#711)
  README.md
Due: prettier --write --ignore-unknown

add new file to make dataset
  data-science/src/data/make_dataset_20250908.py
Due: none

changes to make_dataset.py
  data-science/src/data/make_dataset.py
Due: none

extract socrata fetch and query logic out of use-citations hook
  apps/web/src/hooks/use-citations.tsx
  apps/web/src/lib/socrata/parking-citations.ts
Due: prettier --write --ignore-unknown, eslint

implement runtime validation for parking citations response
  apps/web/package.json
  apps/web/src/components/data-visuals.tsx
  apps/web/src/components/map.tsx
  apps/web/src/lib/geojson/geojson.schema.ts
  apps/web/src/lib/socrata/parking-citations.schema.ts
  apps/web/src/lib/socrata/parking-citations.ts
  apps/web/src/types.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Refactor Socrata data fetching logic (#721)
  apps/web/package.json
  apps/web/src/components/data-visuals.tsx
  apps/web/src/components/map.tsx
  apps/web/src/hooks/use-citations.tsx
  apps/web/src/lib/geojson/geojson.schema.ts
  apps/web/src/lib/socrata/parking-citations.schema.ts
  apps/web/src/lib/socrata/parking-citations.ts
  apps/web/src/types.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

init contracts package
  packages/contracts/package.json
  packages/contracts/src/api/citations/.gitkeep
  packages/contracts/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

[722] Initialize contracts package (#723)
  packages/contracts/package.json
  packages/contracts/src/api/citations/.gitkeep
  packages/contracts/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

add new changes to make_dataset
  data-science/src/data/make_dataset.py
  data-science/src/data/make_dataset_20250908.py
Due: none

many bugfixes and various enhancements
  data-science/src/data/make_dataset.py
Due: none

improve instructions to say where you should be when you run
  data-science/src/data/make_dataset.py
Due: none

fixes suggested by flake8
  data-science/src/data/make_dataset.py
Due: none

fix vio_regex code and make pylint fixes
  data-science/src/data/make_dataset.py
Due: none

Update script that makes datasets (#724)
  data-science/src/data/make_dataset.py
Due: none

fix(api): set different default port to avoid conflicts
  apps/api/src/index.ts
Due: prettier --write --ignore-unknown, eslint

fix(contracts): provide valid compiler input
  packages/contracts/src/api/citations/.gitkeep
  packages/contracts/src/index.ts
Due: prettier --write --ignore-unknown, eslint

config(turbo): use standard output stream
  turbo.json
Due: prettier --write --ignore-unknown

config(env): allow port override
  apps/api/.env.schema
  apps/web/.env.schema
Due: none

docs: update README
  README.md
Due: prettier --write --ignore-unknown

chore: use mise to manage executable and runtime versions
  .npmrc
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

chore: use pnpm to manage javascript dependencies
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/configs/package.json
  packages/contracts/package.json
  packages/design/package.json
  packages/design/src/components/search-input.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown, eslint

chore: use turbo to manage tasks and execution
  .prettierignore
  apps/api/package.json
  apps/web/package.json
  eslint.config.mjs
  package.json
  packages/configs/package.json
  packages/contracts/package.json
  packages/design/package.json
  packages/design/turbo.json
  pnpm-lock.yaml
  prettier.config.mjs
  turbo.json
Due: prettier --write --ignore-unknown

config(eslint): use root eslint configuration for workspace
  apps/api/package.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  eslint.config.mjs
  packages/configs/eslint.config.mjs
  packages/configs/package.json
  packages/configs/src/eslint/eslint.config.mjs
  packages/contracts/package.json
  packages/design/eslint.config.mjs
  packages/design/package.json
Due: prettier --write --ignore-unknown

config(tailwind): deprecate shared tailwind configuration
  apps/web/postcss.config.mjs
  packages/configs/package.json
  packages/configs/src/tailwind/postcss.config.js
Due: prettier --write --ignore-unknown, eslint

config(lint-staged): use root lint-staged configuration
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  scripts/typecheck.mjs
Due: prettier --write --ignore-unknown

feat(hustky): create pre-push hook
  .husky/pre-push
Due: none

config(prettier): use root prettier configuration for workspace
  apps/web/.prettierignore
  apps/web/prettier.config.mjs
  packages/configs/package.json
  packages/configs/prettier.config.mjs
  packages/configs/src/prettier/prettier.config.mjs
  packages/design/.prettierignore
  packages/design/prettier.config.mjs
Due: prettier --write --ignore-unknown

config(typescript): avoid sharing inherent project-local configuration
  packages/configs/src/typescript/base.json
  tsconfig.json
Due: prettier --write --ignore-unknown

chore(configs): simplify package for consumers
  packages/configs/package.json
  packages/configs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat(design): organize css for consumers import
  packages/design/package.json
  packages/design/src/css/base.css
  packages/design/src/css/styles.css
  packages/design/src/css/theme.css
Due: prettier --write --ignore-unknown

docs: update documentation
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/lucky-parking.png
Due: prettier --write --ignore-unknown

Refactor parking data pipeline to improve data integrity
  data-science/postgis_db/.dockerignore
  data-science/postgis_db/Dockerfile
  data-science/postgis_db/boundaries/neighborhood_councils/neighborhood_councils.geojson
  data-science/postgis_db/boundaries/neighborhood_councils/neighborhood_councils_shapefile.zip
  data-science/postgis_db/boundaries/neighborhood_councils/shapefile/neighborhood_councils.cpg
  data-science/postgis_db/boundaries/neighborhood_councils/shapefile/neighborhood_councils.dbf
  data-science/postgis_db/boundaries/neighborhood_councils/shapefile/neighborhood_councils.prj
  data-science/postgis_db/boundaries/neighborhood_councils/shapefile/neighborhood_councils.shp
  data-science/postgis_db/boundaries/neighborhood_councils/shapefile/neighborhood_councils.shx
  data-science/postgis_db/boundaries/zipcodes/shapefile/zipcodes.cpg
  data-science/postgis_db/boundaries/zipcodes/shapefile/zipcodes.dbf
  data-science/postgis_db/boundaries/zipcodes/shapefile/zipcodes.prj
  data-science/postgis_db/boundaries/zipcodes/shapefile/zipcodes.shp
  data-science/postgis_db/boundaries/zipcodes/shapefile/zipcodes.shx
  data-science/postgis_db/boundaries/zipcodes/zipcodes.geojson
  data-science/postgis_db/boundaries/zipcodes/zipcodes_shapefile.zip
  data-science/postgis_db/datacontract.yaml
  data-science/postgis_db/docker-compose.yml
  data-science/postgis_db/init/01_extensions.sql
  data-science/postgis_db/init/02_load_boundaries.sh
  data-science/postgis_db/scripts/load_citations.sql
Due: prettier --write --ignore-unknown

Enhance PostGIS database setup with new boundary loading scripts and API features
  data-science/postgis_db/Dockerfile
  data-science/postgis_db/README.md
  data-science/postgis_db/init/02_load_boundaries.sh
  data-science/postgis_db/lucky_parking/service.py
  data-science/postgis_db/requirements.txt
  data-science/postgis_db/scripts/check_boundaries.sh
  data-science/postgis_db/scripts/load_boundaries.sh
  data-science/postgis_db/scripts/normalize_boundaries.sql
  data-science/postgis_db/scripts/reload_boundaries_docker.sh
  data-science/postgis_db/web_sheet/__init__.py
  data-science/postgis_db/web_sheet/app.py
  data-science/postgis_db/web_sheet/static/app.js
  data-science/postgis_db/web_sheet/static/style.css
  data-science/postgis_db/web_sheet/templates/index.html
Due: prettier --write --ignore-unknown, eslint

Enhance data contract and loading scripts for boundary polygons and place points
  data-science/postgis_db/Dockerfile
  data-science/postgis_db/README.md
  data-science/postgis_db/boundaries/council_districts/council_districts.geojson
  data-science/postgis_db/boundaries/council_districts/shapefile/council_districts.cpg
  data-science/postgis_db/boundaries/council_districts/shapefile/council_districts.dbf
  data-science/postgis_db/boundaries/council_districts/shapefile/council_districts.prj
  data-science/postgis_db/boundaries/council_districts/shapefile/council_districts.shp
  data-science/postgis_db/boundaries/council_districts/shapefile/council_districts.shx
  data-science/postgis_db/boundaries/cultural_sites/cultural_sites.geojson
  data-science/postgis_db/boundaries/cultural_sites/shapefile/cultural_sites.cpg
  data-science/postgis_db/boundaries/cultural_sites/shapefile/cultural_sites.dbf
  data-science/postgis_db/boundaries/cultural_sites/shapefile/cultural_sites.prj
  data-science/postgis_db/boundaries/cultural_sites/shapefile/cultural_sites.shp
  data-science/postgis_db/boundaries/cultural_sites/shapefile/cultural_sites.shx
  data-science/postgis_db/boundaries/neighborhoods/neighborhoods.geojson
  data-science/postgis_db/boundaries/neighborhoods/neighborhoods_comprehensive.geojson
  data-science/postgis_db/boundaries/neighborhoods/neighborhoods_shapefile.zip
  data-science/postgis_db/boundaries/neighborhoods/shapefile/neighborhoods.cpg
  data-science/postgis_db/boundaries/neighborhoods/shapefile/neighborhoods.dbf
  data-science/postgis_db/boundaries/neighborhoods/shapefile/neighborhoods.prj
  data-science/postgis_db/boundaries/neighborhoods/shapefile/neighborhoods.shp
  data-science/postgis_db/boundaries/neighborhoods/shapefile/neighborhoods.shx
  data-science/postgis_db/boundaries/places/places.geojson
  data-science/postgis_db/boundaries/places/places_shapefile.zip
  data-science/postgis_db/boundaries/places/shapefile/places.cpg
  data-science/postgis_db/boundaries/places/shapefile/places.dbf
  data-science/postgis_db/boundaries/places/shapefile/places.prj
  data-science/postgis_db/boundaries/places/shapefile/places.shp
  data-science/postgis_db/boundaries/places/shapefile/places.shx
  data-science/postgis_db/datacontract.yaml
  data-science/postgis_db/init/02_load_boundaries.sh
  data-science/postgis_db/requirements.txt
  data-science/postgis_db/scripts/load_contract_citations.py
Due: prettier --write --ignore-unknown

Enhance PostGIS database setup and API for parking citations
  data-science/postgis_db/Dockerfile
  data-science/postgis_db/README.md
  data-science/postgis_db/api/__init__.py
  data-science/postgis_db/api/main.py
  data-science/postgis_db/docker-compose.yml
  data-science/postgis_db/init/03_load_citations.sh
  data-science/postgis_db/lucky_parking/__init__.py
  data-science/postgis_db/lucky_parking/errors.py
  data-science/postgis_db/lucky_parking/models.py
  data-science/postgis_db/lucky_parking/regions.py
  data-science/postgis_db/lucky_parking/service.py
  data-science/postgis_db/postgisdb.zip
  data-science/postgis_db/pytest.ini
  data-science/postgis_db/requirements.txt
  data-science/postgis_db/scripts/check_raw_data.sh
  data-science/postgis_db/scripts/finish_citations_swap.sql
  data-science/postgis_db/scripts/load_contract_citations.py
  data-science/postgis_db/scripts/migrate_citations_to_contract.sql
  data-science/postgis_db/scripts/query_contract.py
  data-science/postgis_db/tests/test_api.py
  data-science/postgis_db/tests/test_models.py
  data-science/postgis_db/tests/test_service_integration.py
Due: prettier --write --ignore-unknown

Update README.md with quick start instructions for PostGIS database setup
  data-science/postgis_db/README.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: any of: *.{css,js,json,jsx,md,ts,tsx,yaml}
  eslint: any of: *.{js,jsx,ts,tsx}
