Repository hackforla/lucky-parking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc.yaml:

"*.{css,js,json,jsx,md,ts,tsx,yaml}":
  - prettier --write --ignore-unknown
"*.{js,jsx,ts,tsx}":
  - eslint

Add FastAPI proxy with /citations and /ping for live/static dev testing
  scripts/api_data_proxy/__pycache__/config.cpython-310.pyc
  scripts/api_data_proxy/__pycache__/main.cpython-310.pyc
  scripts/api_data_proxy/__pycache__/source_api.cpython-310.pyc
  scripts/api_data_proxy/__pycache__/static_loader.cpython-310.pyc
  scripts/api_data_proxy/config.py
  scripts/api_data_proxy/main.py
  scripts/api_data_proxy/requirements.txt
  scripts/api_data_proxy/source_api.py
  scripts/api_data_proxy/static_data.json
  scripts/api_data_proxy/static_loader.py
Due: prettier --write --ignore-unknown

Add README for temporary FastAPI proxy with usage instructions
  scripts/api_data_proxy/README.md
Due: prettier --write --ignore-unknown

Add additional comments in main.py
  scripts/api_data_proxy/main.py
Due: none

Fix additional comments in main.py
  scripts/api_data_proxy/main.py
Due: none

feat(create-turbo): apply pnpm-eslint transform
  .vscode/settings.json
Due: prettier --write --ignore-unknown

feat(create-turbo): install dependencies
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

config(workspace): add configs directory to pnpm workspace
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

feat(types): migrate package to monorepo
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

feat(typescript): set up configurations
  configs/typescript/base.json
  configs/typescript/package.json
  configs/typescript/react.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

build(turbo): set up test task
  turbo.json
Due: prettier --write --ignore-unknown

build(turbo): include dist artifacts in build outputs
  turbo.json
Due: prettier --write --ignore-unknown

feat(jest): set up shared configurations
  configs/jest/package.json
  configs/jest/src/base.ts
  configs/jest/src/typescript.ts
  configs/jest/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

feat(utilities): migrate package to monorepo
  packages/utilities/jest.config.ts
  packages/utilities/package.json
  packages/utilities/src/date.test.ts
  packages/utilities/src/date.ts
  packages/utilities/src/enum.test.ts
  packages/utilities/src/enum.ts
  packages/utilities/src/string.test.ts
  packages/utilities/src/string.ts
  packages/utilities/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

config(storybook): disable telemetry
  apps/storybook/.storybook/main.ts
Due: prettier --write --ignore-unknown, eslint

config(git): exclude storybook build output from source control
  .gitignore
Due: none

build(turbo): cache storybook build artifacts
  turbo.json
Due: prettier --write --ignore-unknown

feat(api): migrate app to monorepo
  apps/api/.env.schema
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/controllers/citations.ts
  apps/api/src/controllers/index.ts
  apps/api/src/database/client.ts
  apps/api/src/database/db.ts
  apps/api/src/database/index.ts
  apps/api/src/docs/specs-v1.yaml
  apps/api/src/index.ts
  apps/api/src/middleware/body-parser.ts
  apps/api/src/middleware/cors.ts
  apps/api/src/middleware/http-logger.ts
  apps/api/src/middleware/validator.ts
  apps/api/src/models/.gitkeep
  apps/api/src/routes/citations.ts
  apps/api/src/routes/index.ts
  apps/api/src/services/citations.ts
  apps/api/src/services/index.ts
  apps/api/src/utilities/schemas.ts
  apps/api/src/utilities/types.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

fix(api): resolve build and dev issues
  apps/api/package.json
  apps/api/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

config(github): migrate issue templates and workflows
  .github/ISSUE_TEMPLATE/defect-report.yaml
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/post-an-open-role.md
  .github/ISSUE_TEMPLATE/task.yaml
  .github/ISSUE_TEMPLATE/team-offboarding.yaml
  .github/ISSUE_TEMPLATE/team-onboarding.yaml
  .github/pull_request_template.md
  .github/workflows/compliance.yaml
  .github/workflows/integration.yaml
Due: prettier --write --ignore-unknown

docs: update readme with latest project info
  README.md
Due: prettier --write --ignore-unknown

docs: migrate documentation into monorepo
  CONTRIBUTING.md
  README.md
  lucky-parking.png
Due: prettier --write --ignore-unknown

refactor(ui)!: integrate design-system package
  packages/ui/package.json
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/calendar/index.ts
  packages/ui/src/components/containers/index.ts
  packages/ui/src/components/date-input/index.ts
  packages/ui/src/components/date-picker/index.ts
  packages/ui/src/components/graphs/index.ts
  packages/ui/src/components/input/index.ts
  packages/ui/src/components/loader/index.ts
  packages/ui/src/components/modal/index.ts
  packages/ui/src/components/pick-list/index.ts
  packages/ui/src/components/radio-group/index.ts
  packages/ui/src/components/search-input/index.ts
  packages/ui/src/components/stepper/index.ts
  packages/ui/src/components/tag/index.ts
  packages/ui/src/theme/design-system.preset.ts
  packages/ui/src/theme/theme.css
  packages/ui/src/theme/tokens/colors.ts
  packages/ui/src/theme/tokens/font-family.ts
  packages/ui/src/theme/tokens/font-weight.ts
  packages/ui/src/theme/tokens/index.ts
  packages/ui/src/theme/tokens/typography.ts
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

refactor(storybook): integrate design-system package
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/src/stories/colors.mdx
  apps/storybook/src/stories/typography.mdx
  apps/storybook/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

fix(web): resolve rendering issues by properly consuming ui and design-system packages and updating configuration
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/src/entities/branding/ui/logo.tsx
  apps/web/src/entities/map/lib/controls/map-draw-styles.ts
  apps/web/src/features/instructions/how-it-works-button.tsx
  apps/web/src/main.tsx
  apps/web/src/widgets/header/header.tsx
  apps/web/tailwind.config.js
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

feat(design-system): set up package
  packages/design-system/nodemon.config.json
  packages/design-system/package.json
  packages/design-system/src/assets/fonts/work-sans.ttf
  packages/design-system/src/dictionary/styles.css
  packages/design-system/src/dictionary/styles.js
  packages/design-system/src/index.ts
  packages/design-system/src/tailwind.preset.ts
  packages/design-system/src/theme.css
  packages/design-system/src/tokens.json
  packages/design-system/src/typography.css
  packages/design-system/style-dictionary.config.js
  packages/design-system/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Remove sphinx from requirements
  data-science/requirements.txt
Due: none

chore(github): delete file to post open role
  .github/ISSUE_TEMPLATE/post-an-open-role.md
Due: prettier --write --ignore-unknown

chore(github): update defect issue form
  .github/ISSUE_TEMPLATE/defect-form.yaml
  .github/ISSUE_TEMPLATE/defect-report.yaml
Due: prettier --write --ignore-unknown

chore(github): update epic issue form
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/internal-epic-form.yaml
Due: prettier --write --ignore-unknown

chore(github): update feature issue form
  .github/ISSUE_TEMPLATE/feature-form.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: prettier --write --ignore-unknown

chore(github): update task form
  .github/ISSUE_TEMPLATE/task.yaml
Due: prettier --write --ignore-unknown
